modules = ["nodejs-20", "python-3.12", "bash", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start API server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 pnpm --filter @workspace/pay-it-forward run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start API server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[userenv]

[userenv.shared]
NODE_ENV = "development"
PORT = "8080"
VAPID_PUBLIC_KEY = "BHVBVVcaOxT0wTfFoFmaMnvd0FniFoACfMTr1QZlu3oXYmUWbUTo8eoouRZ5q-hBi4NirBROAFsHS02l3-C9OrY"
VITE_MAPBOX_TOKEN = "pk.eyJ1IjoiaGYxMDEiLCJhIjoiY2tjYzVqNmFhMDFmMTJwcWUza2pmZzVtMSJ9.THxYY3Ic2MFylIONeZI_Xw"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51Ti2TuDJiXJaxeqOmFmGhs1yhKiXGjB8gLo6yZzgHEHQJpwHDV62Wtjfc6nUDUZez2t12cL8GnX0LUajMPdbvnsb004iJO8iIn"
MAPBOX_TOKEN = "pk.eyJ1IjoiaGYxMDEiLCJhIjoiY2tjYzVqNmFhMDFmMTJwcWUza2pmZzVtMSJ9.THxYY3Ic2MFylIONeZI_Xw"
INTERNAL_SECRET = "fecec2f10ba224cc5adfd3cdd7aa5de8b3cd382ed6401693c0c3ac845e996ece"
VAPID_PRIVATE_KEY = "iaHXMRsZ96do1pIAslvLoSd_TDQDdfztut5xdzoLB9Y"

[nix]
channel = "stable-25_05"
